.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  color: #fff;
  font-family: Roboto;
  margin: 10px auto;
  text-align: center;
  font-size: 32px;
}